.navbar {
  height: 9vh;
  padding: 0vh 15vw;
  font-size: 1.2em;
  background: var(--color-red);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks {
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-left: auto;
  gap: 3rem;
  margin-right: auto;
}

.navItem:hover {
  transform: scale(105%);
}

.navItem a {
  text-decoration: none;
  color: white;
  opacity: 0.85;
}

.navItem a:hover {
  opacity: 1;
}
