@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --font-family: 'Source Code Pro', monospace;
  --color-red: #b6160f;
  --color-grey: #202020;
  --box-shadow: 8px 9px 21px #999;
}
